<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

    <div class="container">
         <h2 style="text-align: center;">Login Form</h2>
    </div>
      
    <div class="container">
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" formControlName="email">
   
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" formControlName="password">
          
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>  

    <div class="container">
        <a [routerLink]="['/registration']">Register a new account</a>
   </div>
  </form>
