<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

    <div class="container">
         <h2 style="text-align: center;">Login Form</h2>
    </div>
      
    <div class="container">
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" formControlName="email">
      <div *ngIf="email.dirty && email.errors?.required" style="color:red;">Email is required</div>
      <div *ngIf="email.errors?.email" style="color:red;">Email is not valid</div>
   
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" formControlName="password">
      <div *ngIf="password.dirty && password.errors?.required" style="color:red;">Password is required</div>
          
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>  

    <div class="container">
        <a [routerLink]="['/registration']">Register a new account</a>
   </div>
  </form>
